{% extends "layouts/base/base.njk" %}

{% block content %}
    <div class="grid bg-base-100 place-items-center relative z-[1] min-h-[100vh]">
        <div class="border-primary border-2 w-[50%] h-[80%] rounded-md transition-shadow ease-in-out delay-100 hover:shadow-[0px_0px_20px_-3px] hover:shadow-primary">
            <div class="p-5 font-mono text-md font-semibold text-base-content">
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock %}