{% extends "layouts/base/base.njk" %}
{% block content %}
    <script type="module" src='/js/base.js' defer></script>
    <div class="bg-base-100 relative z-[1] min-h-[95vh] h-[95vh] max-h-[95vh] shadow-[0px_20px_10px_-10px] shadow-neutral/50 touch-none overscroll-contain">
        {# Mobile Views #}
        <div class="flex flex-col items-center mt-10 xl:hidden">
            <div class="w-[90vw] md:w-[75vw] h-[65vh] md:h-[80vh] border-primary border-2 rounded-md transition-shadow ease-in-out delay-100 hover:shadow-[0px_0px_20px_-3px] hover:shadow-primary overflow-auto overflow-y-scroll overscroll-contain">
                <div class="p-5 font-fira-mono text-md font-semibold text-base-content">
                    {{ content | safe }}
                </div>
            </div>
        </div>
        {# Desktop View #}
        <div class="hidden xl:inline">
            <div class="grid grid-cols-5 justify-items-stretch mt-10">
                <div class="ml-2 col-span-4 w-[80vw] h-[80vh] border-primary border-2 rounded-md transition-shadow ease-in-out delay-100 hover:shadow-[0px_0px_20px_-3px] hover:shadow-primary overflow-auto overflow-y-scroll">
                    <div class="p-5 font-fira-mono text-md font-semibold text-base-content">
                        {{ content | safe }}
                    </div>
                </div>
                <div class="col-span-1">
                </div>
            </div>
        </div>
    </div>
{% endblock %}