<!DOCTYPE html>
<html>
    {% include 'header.njk' %}
    {% include 'css.njk' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.njk' %}
    <script src='js/base.js'> </script>
</html>