<!DOCTYPE html>
<html>
    {% include 'header.njk' %}
    {% include 'navbar/navbar.njk' %}
    {% include 'css.njk' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.njk' %}
    <script type="module", src='js/base.js' defer> </script>
</html>