<script type="module" src="/js/footer-focus-toggle.js" defer></script>
<div data-tip="Toggle footer" class="tooltip tooltip-left fixed z-[1] bottom-[2.5vh] right-[5vh]">
    <label for="footer-focus-toggle" class="swap swap-rotate btn btn-circle btn-outline">
        <input id="footer-focus-toggle" type="checkbox">
        <span class="swap-off material-symbols-outlined fill-current">
            arrow_downward
        </span>
        <span class="swap-on material-symbols-outlined fill-current">
            arrow_upward
        </span>
    </label>
</div>