<script type="module", src='js/navbar.js'> </script>
<div class="navbar bg-base-100 justify-between">
        <div class="ml-4">
                <a class="btn btn-ghost normal-case text-xl" href="/">Denovocto's Blog</a>
        </div>
        <div class="invisible lg:visible text-sm breadcrumbs">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </div>
        <div class="flex-0">
            <div title="Theme", class="dropdown dropdown-end">
                <div tabindex="0" class="btn gap-1 normal-case btn-ghost">
                    <span class="material-symbols-outlined">
                        style
                    </span>
                    <span class="hidden md:inline">
                        Theme
                    </span>
                    <span class="hidden sm:inline material-symbols-outlined">
                        expand_more
                    </span>
                </div>
                <div class="dropdown-content bg-base-200 text-base-content rounded-t-box rounded-b-box top-px h-[19vh] w-52 overflow-y-auto shadow-2xl mt-16">
                    <div id="themes-list", class="grid grid-cols-1 gap-3 p-3", tabindex="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>